name: Register Artifact
on: workflow_dispatch
jobs:
    build:
        name: Build
        runs-on: ubuntu-latest
        steps:
            - name: Register Artifact Custom Action
              uses: ServiceNow/servicenow-devops-register-artifact@1.39.0
              with:
                devops-integration-token: ${{ secrets.SN_DEVOPS_INTEGRATION_TOKEN }}
                instance-url: ${{ secrets.SN_INSTANCE_URL }}
                tool-id: ${{ secrets.SN_ORCHESTRATION_TOOL_ID }}
                context-github: ${{ toJSON(github) }}
                job-name: 'Register Artifact'
                artifacts: '[{"name": "com:customactiondemoroyMainBoth","version": "1.${{ github.run_number }}","semanticVersion": "1.${{ github.run_number }}.0","repositoryName": "${{ github.repository }}"}]'
